<div id="new-user-form" class="row">

  <div class="col-md-12">
    <h2>Crear personal</h2>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">

        <div class="content-box-large box-with-header">

          <div class="form-group" title="Todos los nombres de la persona (sin incluir apellidos)" rel="tooltip">
            <label for="look-feel.title" class="col-2 col-form-label">Nombres</label>
            <div class="col-10">
              <input class="form-control" type="text" id="" placeholder="Juan Pedro">
            </div>
          </div>

          <div class="form-group">
            <label for="look-feel.title" class="col-2 col-form-label">Primer apellido</label>
            <div class="col-10">
              <input class="form-control" type="text" id="" placeholder="Apellido paterno en Chilenos">
            </div>
          </div>

          <div class="form-group">
            <label for="look-feel.title" class="col-2 col-form-label">Segundo apellido</label>
            <div class="col-10">
              <input class="form-control" type="text" id="" placeholder="Apellido materno en Chilenos (campo opcional)">
            </div>
          </div>



          <div class="form-group" title="Probando con valores númericos" rel="tooltip">
            <label for="random.number" class="col-2 col-form-label">Número de prueba</label>
            <div class="col-10">
              <input class="form-control" type="number" id="random.number" setting-input value="">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <button class="btn btn-primary" id="save-changes">Guardar cambios</button> <span style="display: none;" class="glyphicon glyphicon-refresh spinning"></span>
  </div>

</div>
