<form id="new-user-form" class="row">

  <div class="col-md-12">
    <h2>Crear personal</h2>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">

        <div class="content-box-large box-with-header">

          <div class="form-group" title="Todos los nombres de la persona (sin incluir apellidos)" rel="tooltip">
            <label for="names" class="col-2 col-form-label">Nombres</label>
            <div class="col-10">
              <input class="form-control" type="text" name="names" id="names" placeholder="Juan Pedro">
            </div>
          </div>

          <div class="form-group">
            <label for="first-surname" class="col-2 col-form-label">Primer apellido</label>
            <div class="col-10">
              <input class="form-control" type="text" name="first-surname" id="first-surname" placeholder="Apellido paterno">
            </div>
          </div>

          <div class="form-group">
            <label for="second-surname" class="col-2 col-form-label">Segundo apellido</label>
            <div class="col-10">
              <input class="form-control" type="text" name="second-surname" id="second-surname" placeholder="Apellido materno (campo opcional)">
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-2 col-form-label">E-mail</label>
            <div class="col-10">
              <input class="form-control" type="email" name="email" id="email" placeholder="Correo del usuario">
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-2 col-form-label">Contrase単a</label>
            <div class="col-10">
              <input class="form-control" type="password" name="password" id="password" placeholder="Contrase単a del usuario">
            </div>
          </div>

          <div class="form-group">
            <label for="password-confirmation" class="col-2 col-form-label">Confirmar contrase単a</label>
            <div class="col-10">
              <input class="form-control" type="password" name="password-confirmation" id="password-confirmation" placeholder="Confirmar contrase単a del usuario">
            </div>
          </div>

          <div class="form-group">
            <label class="col-2 col-form-label">Tipo de personal</label>
            <select class="form-control" name="type">

              <option value="Executive">Ejecutivo</option>
              <option value="Supervisor">Supervisor</option>

              <% if current_staff.admin? %>
                <option value="Manager">Jefe de sucursal</option>
                <option value="Admin">Administrador</option>
              <% end %>
            </select>
          </div>



          <% if current_staff.admin? %>
            <div class="form-group" id="branch-office-list-by-location">
              <label class="col-2 col-form-label">Seleccione sucursal</label>

              <div id="office-selector">

              </div>
            </div>
          <% else %>
            <p>
              El nuevo usuario sera asignado a la sucursal <b><%= @branch_office %></b>
            </p>
          <% end %>




        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <button type="submit" class="btn btn-primary" id="save-user">Crear usuario</button> <span style="display: none;" class="glyphicon glyphicon-refresh spinning"></span>
  </div>

</form>
